// mobile and some tablets
@media screen and (max-width: 768px) {
    .course, .job {
        flex-direction: column-reverse;

        .dates {
            flex-direction: row;
            margin-top: 0.33rem;

            span {
                &:nth-child(2) {
                    margin-left: .25em;
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: 600px) {
    #main-wrap {
        padding: 1rem;
        padding-top: 0;
    }

    #main-menu {
        ul {
            flex-direction: column;
            margin: 0;
            li {
                margin: 0 !important;
                a {
                    padding-top: 1rem;
                    margin-bottom: 1rem;
                    display: block;

                    &:after {
                        opacity: 1 !important;
                        width: 100% !important;
                    }

                    &:active {
                        &:after {
                            opacity: 0 !important;
                            width: 0 !important;
                        }
                    }
                }
            }
        }
        &.hidden {
            ul {
                max-height: 0px;
                transition: max-height .5s;
            }
        }
    }

    .menu-btn {
        animation: bounce .25s;
        animation-direction: alternate;
        animation-iteration-count: 2;
        display: block;
    }
}

// mobile and smaller mobile
@media screen and (max-width: 500px) {
    #top-block {        
        h1 {
            white-space: normal;
            top: 75%;
            min-width: 270px;
            text-align: center;
        }
        background-position: center -50px;
        background-size: cover;
        height: 400px;
    }
}